@import "tailwindcss";

@theme {
    --color-dark: oklch(0.14 0.0044 285.82);
    --color-replaceable: oklch(0.73 0.1328 235.01);
    --color-special: oklch(0.73 0.1328 47);
    --default-font-family: 'Source Sans 3', sans-serif;
    --font-emoji: 'Noto Color Emoji', sans-serif;
    --font-old: 'Source Serif 4', sans-serif;
}

.eshakap-a {
    margin-top: 6px;
    margin-bottom: 1px;
    width: 5px;
    height: 5px;
}

.eshakap-syllable-1 {
    position: relative;
    top: 2px;
    left: -2px;
}